$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;
$white: #fff;
$red: #f00;
$blue: #00f;

.active-box {
  background-color: $white;
}

.active-box-x:hover {
  background-color: lighten($red, 40%);
}

.active-box-o:hover {
  background-color: lighten($blue, 40%);
}

.box {
  border: 1px solid $black;
  float: left;
  font-size: 83pt;
  height: 85px;
  line-height: 85px;
  text-align: center;
  vertical-align: middle;
  width: 85px;

  @media (min-width: 768px) {
    font-size: 100pt;
    height: 112px;
    line-height: 112px;
    text-align: center;
    vertical-align: middle;
    width: 112px;
  }

  @media (min-width: 992px) {
    font-size: 150pt;
    height: 160px;
    line-height: 160px;
    text-align: center;
    vertical-align: middle;
    width: 160px;
  }

  @media (min-width: 1200px) {
    font-size: 180pt;
    height: 190px;
    line-height: 190px;
    text-align: center;
    vertical-align: middle;
    width: 190px;
  }
}

.btn,.btn:hover {
  background-color: darken($red, 10%);
  border-color: $black;
  color: darken($white, 12%);
  margin: 1px 10px;
  text-align: center;
  width: 250px;
}

.container {
  height: 260px;
  width: 290px;

  @media (min-width: 768px) {
    height: 400px;
    width: 420px;
  };

  @media (min-width: 992px) {
    height: 500px;
    width: 516px;
  };

  @media (min-width: 1200px) {
    height: 595px;
    width: 615px;
  };
}

.dropdown-menu {
  background-color: $black;
  text-align: center;
}

.o-box {
  background-color: darken($white, 12%);
  color: darken($blue, 10%);
  text-align: center;
  vertical-align: middle;
}

.o-box:hover {
  background-color: darken($white, 12%);
}

.status-row {
  background-color: $black;
  color: $white;
  font-size: 30px;
  height: 50px;
  text-align: center;
}

.start-game-button {
  background-color: $red;
}

.versus-row {
  background-color: $black;
  color: $white;
  font-size: 30px;
  height: 50px;
}

.x-box {
  background-color: darken($white, 12%);
  color: darken($red, 10%);
  text-align: center;
  vertical-align: middle;
}

.x-box:hover {
  background-color: darken($white, 12%);
}
