$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;
$white: #fff;
$red: #f00;

.active-box {
  background-color: ($white, 12%);
}

.active-box:hover {
  background-color: darken($red, 10%);
}

.box {
  border: 1px solid $black;
  font-size: 290pt;
  height: 300px;
  line-height: 300px;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

.x-box {
  background-color: darken($white, 12%);
  color: darken($red, 10%);
  font-size: 290pt;
  line-height: 300px;
  text-align: center;
  vertical-align: middle;
}

.x-box:hover {
  background-color: darken($white, 12%);
}

.btn, .btn:hover {
  background-color: darken($red, 10%);
  border-color: $black;
  color: darken($white, 12%);
  margin: 1px 10px;
  text-align: center;
  width: 250px;
}

.versus-row {
  background-color: $black;
  color: $white;
  font-size: 30px;
  height: 50px;
}

.dropdown-menu {
  background-color: $black;
}

.start-game-button {
  background-color: $red;
}
